<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>-->
{% extends "blog/base.html" %}
{% block content %}
{%if sent %}
<h1>
    E-mail suceessfully sent
</h1>
<p>
    "{{ post.title }}" was suceessfully sent to {{ form.cleaned_data.to }}
</p>
{% else %}
    <h1>
        Share "{{ post.title }}" by e-mail
    </h1>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Send e-mail">
    </form>
{% endif %}
{% endblock %}


